#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $secondary;
	border-bottom: 1px solid $secondary-darker;
	overflow: hidden;
	box-shadow: 2px 2px 5px 0 #c7c7c7;

	ul {
		list-style-type: none;
		float: right;
		margin: 20px 15px;

		li {
			display: inline-block;
			margin-right: 20px;
		}

		li:last-of-type {
			margin-right: 25px;
		}
	}

	a {
		color: $primary;
		text-decoration: none;
		font-family: $main-font;
		font-size: 16px;
		font-weight: 700;
		vertical-align: middle;
	}

	a.social {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-image: url(../img/SocialMediaSpritesheet.svg);
		background-size: 30px 120px;
		background-repeat: no-repeat;
		vertical-align: middle;

		&.instagram {
			background-position: 0 0;
		}
		&.artstation {
			background-position: 0 -30px;
		}
		&.github {
			background-position: 0 -60px;
		}
		&.email {
			background-position: 0 -90px;
		}
	}
}
